<div class="row">
        <div class="input-field col s12">
          <form action="/oauth/shopify" method="POST">
          <input id="shopDomain" type="text" class="validate" name="shopDomain">
          <label for="shopDomain">Shop domain</label>
          <button type="submit" class="waves-effect waves-light btn">Login</button>
          </form>
        </div>
</div>