
<div class="col s12 m7">
    <form action="/customersPage" method="GET">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content" name="customers">
            <button type="submit" class="waves-effect waves-light btn">Customers {{ customersCount }}</button>
        </div>
      </div>
    </div>
    </form>
  </div>

  <div class="col s12 m7">
    <form action="/ordersPage" method="GET">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content" name="orders">
            <button type="submit" class="waves-effect waves-light btn">Orders</button>
        </div>
      </div>
    </div>
    </form>
  </div>

  <div class="col s12 m7">
    <form action="/productsPage" method="GET">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content" name="products">
           <button type="submit" class="waves-effect waves-light btn">Products</button>
        </div>
      </div>
    </div>
    </form>
  </div>
  